// lear
// Portfolio

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Expletus Sans", sans-serif;
  cursor: none;
}

// Colors
$black: #000;
$white: #fff;
$navBackground: rgba(150, 25, 150, 0.25);
$navButton: rgba(150, 25, 150, 0.5);
$halfGray: rgba(120, 120, 120, 0.25);
$midGray: rgba(120, 120, 120, 0.5);
$lightPink: rgb(150, 100, 250);
$halfBlue: rgba(100, 0, 175, 0.75);

$purpleBackground: linear-gradient(to bottom, rgb(50, 50, 175), transparent);
$redBackground: linear-gradient(to bottom, rgb(175, 50, 50), transparent);
$cyanBackground: linear-gradient(to bottom, rgb(50, 150, 255), transparent);
$orangeBackground: linear-gradient(to bottom, rgb(255, 100, 50), transparent);

// Global Styles
body {
  background-color: $black;
  overflow-x: hidden;

  &::before {
    content: "";
    width: 100%;
    height: 75vh;
    background: $purpleBackground;
    position: absolute;
    pointer-events: none;
  }

  &.purple-theme::before {
    background: $purpleBackground;
  }

  &.red-theme::before {
    background: $redBackground;
  }

  &.cyan-theme::before {
    background: $cyanBackground;
  }

  &.orange-theme::before {
    background: $orangeBackground;
  }
}

img {
  display: block;
}

.lang-btn {
  position: fixed;
  top: calc(50% - 30px);
  left: 0.5rem;
  background-color: transparent;
  border: none;

  img {
    width: 60px;
    height: 60px;
    object-fit: contain;
    filter: brightness(0) saturate(0) invert(1);
    -webkit-filter: brightness(0) saturate(0) invert(1);
  }
}

.heading {
  font-size: 4rem;
  color: $white;
  opacity: 0.9;
  text-align: center;
}

.cursor {
  position: absolute;
  width: 12px;
  height: 12px;
  background-color: $white;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  pointer-events: none;
  z-index: 3;
  box-shadow: 0 0 0.6rem $white;
}

.hidden {
  opacity: 0 !important;
  transition: 1.5s;
  -webkit-transition: 1.5s;
  -moz-transition: 1.5s;
  -ms-transition: 1.5s;
  -o-transition: 1.5s;
  transform: translateX(-150px);
  -webkit-transform: translateX(-150px);
  -moz-transform: translateX(-150px);
  -ms-transform: translateX(-150px);
  -o-transform: translateX(-150px);
}

.show {
  transform: translateX(0);
  -webkit-transform: translateX(0);
  -moz-transform: translateX(0);
  -ms-transform: translateX(0);
  -o-transform: translateX(0);
  opacity: 1 !important;
}

.theme-btn {
  position: fixed;
  width: 48px;
  height: 48px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  right: 0.5rem;
  bottom: 1.5rem;
  border: none;
  display: grid;
  place-content: center;
  background-color: $midGray;
  z-index: 2;
  isolation: isolate;

  img {
    width: 28px;
    filter: brightness(0) invert(1);
    -webkit-filter: brightness(0) invert(1);
  }

  .container {
    top: calc(-160px - 4rem);
    left: calc(50% - 24px);
    position: absolute;
    display: none;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    background-color: $halfGray;
    border-radius: 3rem;
    -webkit-border-radius: 3rem;
    -moz-border-radius: 3rem;
    -ms-border-radius: 3rem;
    -o-border-radius: 3rem;
    backdrop-filter: blur(10px);
    z-index: -1;
    padding: 4px 4px 3.8rem 4px;

    &.active {
      display: flex;
    }

    div {
      width: 40px;
      height: 40px;
      border-radius: 50%;
      -webkit-border-radius: 50%;
      -moz-border-radius: 50%;
      -ms-border-radius: 50%;
      -o-border-radius: 50%;

      &.purple-theme {
        background: $purpleBackground;
      }

      &.red-theme {
        background: $redBackground;
      }

      &.cyan-theme {
        background: $cyanBackground;
      }

      &.orange-theme {
        background: $orangeBackground;
      }
    }
  }
}

// Navigation
.nav-bar {
  position: fixed;
  top: 1.75rem;
  left: calc(50% - min(300px, 50vw));
  width: min(600px, 100vw);
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  gap: 2.75rem;
  padding: 0.5rem;
  border-radius: 2rem;
  -webkit-border-radius: 2rem;
  -moz-border-radius: 2rem;
  -ms-border-radius: 2rem;
  -o-border-radius: 2rem;
  background: $navBackground;
  z-index: 2;
  backdrop-filter: blur(0.25rem);

  .link {
    text-decoration: none;
    font-size: 1.0725rem;
    color: $white;
    width: 100%;
    height: 100%;
    text-align: center;
    padding: 0.5rem 0;
    border-radius: 2rem;
    -webkit-border-radius: 2rem;
    -moz-border-radius: 2rem;
    -ms-border-radius: 2rem;
    -o-border-radius: 2rem;
    transition: 0.5s;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -ms-transition: 0.5s;
    -o-transition: 0.5s;

    &:hover {
      background-color: $navButton;
    }
  }
}

// Header
.header {
  display: grid;
  place-content: center;
  text-align: center;
  min-height: 100vh;

  .title {
    font-size: 4.625rem;
    color: $white;
    opacity: 0.9;
  }

  .sub-title {
    font-size: 1.725rem;
    color: $white;
    opacity: 0.9;
  }
}

// Skills
.skills,
.languages {
  padding: 7.5rem 10%;

  .heading {
    padding-bottom: 5rem;
  }

  .row {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 1.75rem;

    .skill,
    .language {
      display: flex;
      align-items: center;
      justify-content: space-between;
      gap: 1.5rem;
      padding: 0.75rem 1rem;
      border-radius: 0.25rem;
      -webkit-border-radius: 0.25rem;
      -moz-border-radius: 0.25rem;
      -ms-border-radius: 0.25rem;
      -o-border-radius: 0.25rem;
      background-color: $halfGray;
      transition: 0.5s;
      -webkit-transition: 0.5s;
      -moz-transition: 0.5s;
      -ms-transition: 0.5s;
      -o-transition: 0.5s;

      .name {
        color: $white;
        font-size: 1.3rem;
        font-weight: 500;
      }

      img {
        width: 44px;
      }

      &:hover {
        transform: scale(0.9);
        -webkit-transform: scale(0.9);
        -moz-transform: scale(0.9);
        -ms-transform: scale(0.9);
        -o-transform: scale(0.9);
        opacity: 0.9;
      }
    }
  }
}

// About
.about {
  padding: 15rem 0 10rem;
  display: grid;
  place-content: center;

  .text {
    width: min(700px, 90vw);
    color: $white;
    opacity: 0.9;
    text-align: center;
    padding-top: 2.75rem;
    font-size: 1.1rem;
    line-height: 1.775rem;

    span {
      color: $lightPink;
    }
  }
}

// Projects
.projects {
  display: grid;
  place-content: center;
  padding-top: 15rem;

  .row {
    display: grid;
    grid-gap: 2.75rem;
    grid-template-columns: repeat(2, 1fr);
    width: min(1100px, 90vw);
    margin: 5rem 0;

    .item {
      position: relative;

      .project-img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 0.25rem;
        -webkit-border-radius: 0.25rem;
        -moz-border-radius: 0.25rem;
        -ms-border-radius: 0.25rem;
        -o-border-radius: 0.25rem;
      }

      &:hover .layer {
        height: 100%;
        opacity: 1;
      }

      .layer {
        display: flex;
        align-items: center;
        justify-content: center;
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 0;
        gap: 3.5rem;
        background: linear-gradient(to top, $halfBlue 50%, transparent);
        transition: 0.5s;
        -webkit-transition: 0.5s;
        -moz-transition: 0.5s;
        -ms-transition: 0.5s;
        -o-transition: 0.5s;
        border-radius: 0.25rem;
        -webkit-border-radius: 0.25rem;
        -moz-border-radius: 0.25rem;
        -ms-border-radius: 0.25rem;
        -o-border-radius: 0.25rem;
        opacity: 0;

        img {
          width: 32px;
          filter: brightness(0) invert(1);
          -webkit-filter: brightness(0) invert(1);
          transition: 0.5s;
          -webkit-transition: 0.5s;
          -moz-transition: 0.5s;
          -ms-transition: 0.5s;
          -o-transition: 0.5s;

          &:hover {
            scale: 0.85;
            opacity: 0.7;
          }
        }
      }
    }
  }

  .switcher {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 7.5rem;
    gap: 1.25rem;

    .btn {
      width: 38px;
      height: 38px;
      border-radius: 50%;
      -webkit-border-radius: 50%;
      -moz-border-radius: 50%;
      -ms-border-radius: 50%;
      -o-border-radius: 50%;
      border: none;
      font-size: 1rem;
      color: $white;
      background-color: $navButton;

      &:hover {
        opacity: 0.7;
      }

      &.arrow-btn {
        display: grid;
        place-content: center;
        width: 48px;
        height: 48px;

        img {
          width: 24px;
          filter: brightness(0) invert(1);
          -webkit-filter: brightness(0) invert(1);

          &.right {
            transform: rotate(180deg);
            -webkit-transform: rotate(180deg);
            -moz-transform: rotate(180deg);
            -ms-transform: rotate(180deg);
            -o-transform: rotate(180deg);
          }
        }
      }
    }
  }
}

// Contact
.contact {
  padding: 15rem 0 10rem;
  display: grid;
  place-content: center;

  &.first {
    padding-top: 7.5rem;
  }

  .sub-heading {
    color: $white;
    font-size: 1.1rem;
    text-align: center;
  }

  .form {
    width: min(1000px, 90vw);
    display: flex;
    flex-direction: column;
    gap: 1.25rem;
    padding-top: 5rem;

    input,
    textarea {
      padding: 1.25rem;
      background-color: transparent;
      border: 1px solid $midGray;
      color: $white;
      outline: none;
      font-size: 1rem;
      resize: none;
    }

    .btn {
      width: 220px;
      color: $white;
      background-color: $halfBlue;
      border: none;
      padding: 1rem;
      border-radius: 0.25rem;
      -webkit-border-radius: 0.25rem;
      -moz-border-radius: 0.25rem;
      -ms-border-radius: 0.25rem;
      -o-border-radius: 0.25rem;
      font-size: 1rem;
      margin: auto;

      &:hover {
        opacity: 0.8;
      }
    }
  }
}

// Footer
.footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 5%;
  padding: 1.75rem 0 2.25rem;
  border-top: 1px solid $white;

  .text {
    padding-left: 1.75rem;
    color: $white;
    opacity: 0.8;
    font-weight: 500;
  }

  .icons {
    display: flex;
    gap: 1.325rem;
    align-items: center;
    padding-right: 1.75rem;

    .icon {
      width: 32px;
      filter: brightness(0) invert(1);
      -webkit-filter: brightness(0) invert(1);
      transition: 0.5s;
      -webkit-transition: 0.5s;
      -moz-transition: 0.5s;
      -ms-transition: 0.5s;
      -o-transition: 0.5s;

      &:hover {
        scale: 0.85;
        opacity: 0.7;
      }
    }
  }
}

// For Smaller Devices
@media screen and (max-width: 968px) {
  .projects .row {
    grid-template-columns: 1fr;
    gap: 2.25rem;
  }

  * {
    cursor: auto;
  }

  .cursor {
    display: none;
  }
}

@media screen and (max-width: 624px) {
  .nav-bar {
    top: 0;
    border-radius: 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -ms-border-radius: 0;
    -o-border-radius: 0;
    width: 100%;
    left: 0;
    gap: 0;

    .link {
      font-size: 0.875rem;
      padding: 0.6rem 0;
    }
  }

  .heading {
    font-size: 2.85rem;
  }

  .footer {
    .text {
      padding-left: 0;
      font-size: 0.875rem;
    }

    .icons {
      padding-right: 0;
      gap: 1rem;

      .icon {
        width: 28px;
      }
    }
  }

  .about .text {
    font-size: 1rem;
  }

  .header {
    .title {
      font-size: 3rem;
    }

    .sub-title {
      font-size: 1.2rem;
    }
  }

  .skills,
  .languages {
    padding: 5rem 5%;

    .row {
      gap: 1.25rem;

      .skill,
      .language {
        padding: 0.5rem 0.75rem;
        gap: 1.25rem;

        img {
          width: 40px;
        }

        .name {
          font-size: 1.1rem;
        }
      }
    }
  }

  .contact .sub-heading {
    font-size: 0.975rem;
  }

  .projects .row .item .layer img {
    width: 28px;
  }

  .projects .switcher {
    gap: 1rem;

    .btn {
      width: 36px;
      height: 36px;
      font-size: 0.925rem;

      &.arrow-btn {
        width: 44px;
        height: 44px;

        img {
          width: 22px;
        }
      }
    }
  }

  .theme-btn {
    right: calc(50vw - 24px);
  }

  .lang-btn {
    top: calc(50% - 25px);

    img {
      width: 50px;
      height: 50px;
    }
  }
}
